<div id='user_navbar'>

  <% if user_signed_in? %>

  Logged in as <strong><%= current_user.email %></strong>

  <%= link_to 'Home', root_path %> |
  <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %> |
  <%= link_to 'Edit Profile', edit_user_registration_path  %>
  <% if current_user.has_role? :admin %>
  <%= link_to 'Admin Stuff', '/users/admin' %>
  <% end %>



  <% else %>

  <%= link_to 'Log In', new_user_session_path %> |
  <%= link_to 'Sign Up', new_user_registration_path %>

  <% end %>

</div>